* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav.navbar {
  background-color: orange !important;
}

.btn-primary {
  background-color: orange !important;
  color: black;
  font-weight: bold !important;
}